<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p-toast appendTo="body"></p-toast>

  <p-card header="Crear cuenta">
    <div class="form">
      <div class="field">
        <label>Nombre</label>
        <input pInputText type="text" [(ngModel)]="nombre" placeholder="Tu nombre" />
      </div>

      <div class="field">
        <label>Email</label>
        <input pInputText type="email" [(ngModel)]="email" placeholder="correo@mail.com" />
      </div>

      <div class="field">
        <label>Contraseña</label>
        <input pInputText type="password" [(ngModel)]="password" placeholder="••••••••" />
      </div>

      <div class="actions">
        <button
          pButton
          type="button"
          label="{{ loading ? 'Creando...' : 'Crear' }}"
          icon="pi pi-user-plus"
          [disabled]="loading"
          (click)="submit()"
        ></button>

        <button
          pButton
          type="button"
          label="Ya tengo cuenta"
          class="p-button-outlined"
          (click)="goLogin()"
        ></button>
      </div>
    </div>
  </p-card>
</ion-content>
